<!-- Modal -->
<div class="modal fade" id="mdDesenvolva" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<h3 class="modal-title" id="myModalLabel">Desenvolva conosco</h3>
		</div>
		<div class="modal-body">
			<img class="centro" src="../ongbook/view/img/git.png" alt=""/>
			<blockquote>
				<p><em>Projetos open source são o que há de mais legal no mundo do desenvolvimento quando se quer aprender novas tecnologias e envolver-se em projetos, seja codificando, documentando, testando ou realizando qualquer tipo de atividade que envolve um projeto.</em></p>
				<small>Willian Martins em <cite title="Tableless"><a href="http://tableless.com.br/contribuindo-em-projetos-open-source-com-o-github/" target="_blank">Primeiros passos</a>.</cite></small>
			</blockquote>
		</div>
		<div class="modal-footer">
			<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			<button type="button" class="btn btn-primary" src="http://github.com/Ongbook" target="_blank">Repositórios Ongbook</button> -->
			<a class="btn btn-primary" href="http://github.com/Ongbook" target="_blank">Repositórios Ongbook</a>
		</div>
	</div>
</div>
</div>