<!-- Modal -->
<div class="modal fade" id="mdDivulgue" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<h3 class="modal-title" id="myModalLabel">Divulgue</h3>
		</div>
		<div class="modal-body">

			<div class="container-fluid">
				<div class="centro">
					<script>(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					<div class="fb-like-box" data-href="https://facebook.com/Ongbook" data-width="100%" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
				</div>
			</div><br>

			<div class="container-fluid" style="background-color:#ecf0f1; padding:2%;">
				<div class="col-sm-3">
					<div class="panel panel-default" style="background-color:#ecf0f1; border:none;">
						<div class="panel-body">
							<div id="fb-root"></div>
							<script>(function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id)) return;
								js = d.createElement(s); js.id = id;
								js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
								fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
							<div class="fb-like" data-href="http://www.ongbook.org" data-layout="box_count" data-action="recommend" data-show-faces="false" data-share="false"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="panel panel-default" style="background-color:#ecf0f1;">
						<div class="panel-body">
							<!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
							<script src="https://apis.google.com/js/platform.js" async defer>
								lang: pt_BR
							</script>
							<!-- Posicione esta tag onde você deseja que o botão compartilhar apareça. -->
							<div itemscope itemtype="http://schema.org/Organization" class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60" data-width="90" data-href="http://www.ongbook.org">
								<h1 itemprop="name">Ongbook</h1>
								<p itemprop="description">Um local para Solidários conhecerem as necessidades de Entidades que trabalham para suprir problemas sociais.</p>
								<img itemprop="image" src="http://api.ongbook.org/img/ongbook.png" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="panel panel-default" style="background-color:#ecf0f1;">
						<div class="panel-body">
							<div style="position:absolute;">
								<a href="http://twitter.com/share" data-text="Catálogo de Entidades Sociais com as causas mais nobres do Planeta!" data-url="http://www.ongbook.org" class="twitter-share-button" data-count="vertical" data-hashtags="ongbook" data-lang="pt">Tweet</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="panel panel-default" style="background-color:#ecf0f1;">
						<div class="panel-body">
							<script src="//platform.linkedin.com/in.js" type="text/javascript">
								lang: pt_BR
							</script>
							<script type="IN/Share" data-counter="top"></script>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
</div>