<!-- Modal -->
<div class="modal fade" id="mdFomente" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<h3 class="modal-title" id="myModalLabel">Erro</h3>
		</div>
		<div class="modal-body">
			<h2>{$mensagem}</h2>
		</div>
	</div>
</div>
</div>