<!-- Só aparece após o click no botão "Conheça agora" - id="conhecaAgora" no arquivo body.html -->

<div class="filtrosMapa">
	<div class="col-lg-3 selectFiltro">
		<select class="form-control" id="select">
			<option value="" disabled selected>Área de atuação</option>
			<option value="">1</option>
		</select>
	</div>
	<div class="col-lg-3 selectFiltro">
		<select class="form-control" id="select">
			<option value="" disabled selected>UF</option>
			<option value="AC">Acre</option>
			<option value="AL">Alagoas</option>
			<option value="AP">Amapá</option>
			<option value="AM">Amazonas</option>
			<option value="BA">Bahia</option>
			<option value="CE">Ceará</option>
			<option value="DF">Distrito Federal</option>
			<option value="ES">Espirito Santo</option>
			<option value="GO">Goiás</option>
			<option value="MA">Maranhão</option>
			<option value="MS">Mato Grosso do Sul</option>
			<option value="MT">Mato Grosso</option>
			<option value="MG">Minas Gerais</option>
			<option value="PA">Pará</option>
			<option value="PB">Paraíba</option>
			<option value="PR">Paraná</option>
			<option value="PE">Pernambuco</option>
			<option value="PI">Piauí</option>
			<option value="RJ">Rio de Janeiro</option>
			<option value="RN">Rio Grande do Norte</option>
			<option value="RS">Rio Grande do Sul</option>
			<option value="RO">Rondônia</option>
			<option value="RR">Roraima</option>
			<option value="SC">Santa Catarina</option>
			<option value="SP">São Paulo</option>
			<option value="SE">Sergipe</option>
			<option value="TO">Tocantins</option>
		</select>
	</div>
	<div class="col-lg-3 selectFiltro">
		<select class="form-control" id="select">
			<option value="" disabled selected>Cidade</option>
			<option value="">1</option>
		</select>
	</div>
	<div class="col-lg-3 selectFiltro">
		<div class="btn-toolbar">
			<div class="btn-group btn-group-filtro">
				<a href="#" class="btn btn-warning btn-sm btn-filtros">50 m</a>
				<a href="#" class="btn btn-warning btn-sm btn-filtros">100 m</a>
				<a href="#" class="btn btn-warning btn-sm btn-filtros">1 Km</a>
				<a href="#" class="btn btn-warning btn-sm btn-filtros">5 km</a>
				<a href="#" class="btn btn-warning btn-sm btn-filtros">10 km</a>
			</div>
		</div>
	</div>
</div>
<!-- fim filtrosMapa -->