</div>
<footer style="background-color:#2c3e50;">
<h1 style="font-color:white;">HEHEHE</h1>

</footer>

<script src="view/js/jquery.min.js"></script>

<!-- Maps API Javascript -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Caixa de informação -->
<script src="view/js/infobox.js"></script>

<!-- Agrupamento dos marcadores -->
<script src="view/js/markerclusterer.js"></script>

<!-- Arquivo de inicialização do mapa -->
<script src="view/js/mapa.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins)
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="view/js/bootstrap.min.js"></script>
</body>
</html>