
{include file="view/header.html"}

<div class="container" style="margin-top:60px; width:100%;">

	<h1>Primeira etapa</h1>
	<!-- /.comeca o formulario -->
	<div class="jumbotron">
		<form method="post" class="form-horizontal">
			<fieldset>
				<legend>{$legend}</legend>
				<div class="form-group">
					<!-- <label for="nome" class="col-lg-2 control-label">Nome</label> -->
					<div class="col-lg-12">
						<input type="text" class="form-control input-lg" name="nome" placeholder="Nome" required>
					</div>
				</div>
				<div class="form-group">
					<!-- <label for="email" class="col-lg-2 control-label">E-mail</label> -->
					<div class="col-lg-12">
						<input type="email" class="form-control input-lg" name="email" placeholder="E-mail" required>
						<span class="help-block">Ao clicar em <strong>Cadastrar</strong>,
							você estará concordando com o <a>Termo de Cadastro de Entidades
							Sociais</a> e a <a>Política de Privacidade</a>.</span>
							<!-- <span class="help-block">Ao clicar em <strong>Cadastrar</strong>,
							você estará concordando com o <a>Termo de Cadastro de Entidades
							Sociais</a> e a <a>Política de Privacidade</a>.</span>
							<div class="checkbox">
       							<label>
        							<input type="checkbox" required> Termo aceito.
          						</label>
          					</div> -->
          				</div>
          			</div>
          			<p style="text-align:right;">
          				<button type="submit" class="btn btn-primary">Cadastrar</button>
          				<button type="button" class="btn btn-default" data-dismiss="modal">Depois</button></p>
          			</fieldset>
          		</form>
          	</div>
          </div>

          {include file="view/footer.html"}